<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122505945256-9k73i3cg3fqkpnsts93lpcfmlcv4su57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122505945256-9k73i3cg3fqkpnsts93lpcfmlcv4su57</string>
	<key>API_KEY</key>
	<string>AIzaSyBU_IfiIaOrl3yuVEAMzDzr3Q-l44JSKeI</string>
	<key>GCM_SENDER_ID</key>
	<string>122505945256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riverpodTemplate</string>
	<key>PROJECT_ID</key>
	<string>test-aa590</string>
	<key>STORAGE_BUCKET</key>
	<string>test-aa590.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122505945256:ios:2aa7551f901e55bd7f229d</string>
</dict>
</plist>